*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin:0 auto;
    padding:0 2%;
}

html,body{
    overflow-x: hidden;
}

header{
    padding: 10px;
    background-color: rgb(117, 45, 45);
}

.center{
    justify-content: center;
}

.flowchart{
    padding: 20px;
    text-align: center;
}

.menu{
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgb(117, 45, 45);
}

.menu a{
    padding: 15px;
    display: flexbox;
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    margin-right: 05px;
}

.FFhacktics{
    padding: 05px;
    text-align: right;
}